:host ::ng-deep{
    p-table{
        >div{
            box-shadow: 0 0 5px rgba(50,50,50,0.15);
        }
    }
    .p-datatable.p-datatable-sm{
        .p-datatable-thead > tr > th {
            background-color: #2B6971;
            color: #fff;
            border: none;
            font-size: 15px;
            transition: all 0.3s ease;
            &:focus{
                box-shadow: none;
            }
            &:hover{
                color: none;
            }
        }
        .p-datatable-tbody > tr{
            border-top: 1px solid #f4f5f6;
            border-bottom: 1px solid #f4f5f6;
            transition: all 0.3s ease;
            >td{
                border: none;
            }
            &:hover{
                background-color: #e1f2f4;
                >td{
                    border-top: 1px solid #99d6d6;
                    border-bottom: 1px solid #99d6d6;
                }
            }
        }
    } 
    .p-datatable .p-sortable-column .p-sortable-column-icon {
        color: #fff;
        &:hover{
            color: #2B6971;
        }
    }
    .p-column-filter-menu-button {
        color: #fff;
    }
}