<div class="container mt-5">
    <p-table #dt1 [columns]="_selectedColumns" [value]="customers" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-sm p-datatable-customers" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['name','country.name','company','status']" [reorderableColumns]="true">
        <ng-template pTemplate="caption">
            <div class="row justify-content-between py-3">
                <div class="col-md-4">
                    <span class="p-input-icon-left p-ml-auto w-100">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
                <div class="col-md-3">
                    <p-multiSelect [options]="cols" class="w-100" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '100%'}" placeholder="Choose Columns"></p-multiSelect>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pReorderableColumn pSortableColumn="{{col.sort}}" *ngFor="let col of columns">
                    <div class="p-d-flex p-jc-center p-ai-center">
                        {{col.header}}
                        <p-sortIcon field="{{col.sort}}"></p-sortIcon>
                        <p-columnFilter type="text" field="{{col.sort}}" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th pReorderableColumn pSortableColumn="name">
                    <div class="p-d-flex p-jc-center p-ai-center">Name 
                        <p-sortIcon field="name"></p-sortIcon>
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th pReorderableColumn pSortableColumn="country.name">Country 
                    <p-sortIcon field="country.name"></p-sortIcon>
                    <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
                </th>
                <th pReorderableColumn pSortableColumn="company">Company 
                    <p-sortIcon field="company"></p-sortIcon>
                    <p-columnFilter type="text" field="company" display="menu"></p-columnFilter>
                </th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="customer[col.field][col.name]==null">
                        {{customer[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="customer[col.field][col.name]!==null">
                        {{customer[col.field][col.name]}}
                    </ng-container>
                </td>
                <!-- <td>{{customer.name}}</td>
                <td>{{customer.country.name}}</td>
                <td>{{customer.company}}</td> -->
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
