<div class="container mt-5">
    <div class="grid-row">
        <div class="item1">lehan</div>
        <div class="item2">homerr</div>
        <div class="item3">timeer</div>
        <div class="item4">sandy</div>
        <div class="item5">kandy</div>
        <div class="item6">parrot</div>
        <div class="item7">yinrr</div>
    </div>
</div>

<div class="container mt-5">
    <div class="grid-row2">
        <div class="item1">lehan</div>
        <div class="item2">homerr</div>
        <div class="item3">timeer</div>
        <div class="item4">sandy</div>
        <div class="item5">kandy</div>
        <div class="item6">parrot</div>
        <div class="item7">yinrr</div>
        <div class="item8">karry</div>
        <div class="item9">sorry</div>
        <div class="item10">larry</div>
        <div class="item11">ptiiedd</div>
    </div>
</div>

<div class="container mt-5">
    <div class="flex-row">
        <div class="item1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque nostrum aliquid possimus voluptate natus ad eligendi, dolorum beatae tempora inventore voluptatum ducimus quae minus in saepe, eos quam nihil! Suscipit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora iusto alias maiores doloremque mollitia? Asperiores alias explicabo corporis quisquam nostrum facere similique, neque in, cum culpa eaque? Temporibus, optio! Debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur necessitatibus modi ducimus quia atque doloribus dolorum alias, consequatur aliquam excepturi magnam, hic magni quod earum explicabo! Ipsam nam iste perspiciatis?</div>
        <div class="item2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat magni sunt fugit repellendus accusantium facere quae quis natus placeat neque, incidunt, eaque mollitia maxime ut, iste officia labore soluta. Nostrum!</div>
    </div>
</div>
